.parent {
    height: 50vh;

    /* add solution here */
   display: flex;
    justify-content: center;
    align-items: flex-end;
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
