ul {
    list-style: none;
    width: 75vw;

    /* add solution here */
    display: flex;
    justify-content: center;
    gap: 2vw;
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);

    /* add solution here.. */
     flex-basis: 150px;
}